// COLORS
$primary-color: #06d7d9;
$secondary-color: #00cdac;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;
$bg: #0a192f;
$text-color: #ccd6f6;
$lighter-bg: #303C55;

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.8rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
$small-font-size: 1rem;


// FONT WEIGHT
$font-thin: 300;